{
  "database": {
    "host": "localhost",
    "port": 5433,
    "user": "root",
    "password": "public",
    "database": "zecreyBlockWar"
  },
  "fps": 30,
  "game_round_interval": 0,
  "frontend_type": "zecrey_warrior",
  "item_frame_chance": 500,
  "game_duration": 60,
  "account_name": "amber1",
  "seed": "",
  "nft_prefix": "goodwei",
  "collection_id": 6
}