{
  "database": {
    "host": "postgres",
    "port": 5432,
    "user": "root",
    "password": "public",
    "database": "chain_block_war"
  },
  "fps": 30,
  "game_round_interval": 0,
  "frontend_type": "zecrey_warrior",
  "item_frame_chance": 500,
  "game_duration": 60,
  "seed": "<private_key_from_metamask>",
  "nft_prefix": "companyName",
  "collection_id": 6
}